<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">email</li>
          <li><a class="u-email" href="mailto:seoo20001@gmail.com">seoo20001@gmail.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/seoo2001"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
              </svg> <span class="username">seoo2001</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>ⓒ 2024. seoo2001 All rights reserved.</p>
      </div>
    </div>

  </div>

</footer>